<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    
        <script type="text/javascript" src="../Sobre/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../Sobre/sobrenos.js"></script>
    <style>

        
        .comeco{

            
            background-color: aqua;
            height: 100%;
            width: 100%;
            
        }


        .areaTexto{
            padding: 5%;
            background-color: #d1be9e;

            height: 3000%;

            height: 500px;

            height: 500px;

            width: 100%;
        }
        
        .imgSobre{
            margin-left: 1%;
            float: right;
            height: 280px;
        }






        
        

        
        
        

    </style>



</head>


    

    <div class="comeco">

            <img src="../Sobre/cavaloBanner3.jpg" width="100%">
 
    </div>

    <div class="areaTexto">

            <img class="imgSobre" src="../Sobre/acp.jpg"  >

            <h2>ACPCCP um marco na criação do cavalo Puro Sangue Inglês do Paraná. </h2>
                <p>
                    ACPCCP um marco na criação do cavalo Puro Sangue Inglês do Paraná.</h2>
O Estado do Paraná em face das condições oferecidas pelo seu solo e clima, despertaram interesse em vários proprietários não só do nosso estado como de outras regiões do país; na implantação de diversos haras e  desde o início, grandes possibilidades para a criação do cavalo Puro Sangue Inglês se traduziam em resultados no turfe nacional  . 
   </p> 

            <h2>ACPCCP</h2>
           Em face da construção do Jockey Plaza Shopping Center nas dependências do hipódromo, em 2016 a ACPCCP teve sua sede desapropriada. Em comum acordo novamente mudou-se, agora para um moderno prédio localizado ao lado da portaria dos fundos do Jockey Club, com vista para a Rua Konrad Adenauer.
O novo espaço da ACPCCP foi adequado às suas atividades, com a reestruturação da farmácia veterinária, depósito de medicamentos, salas de reuniões e eventos, biblioteca e gerência técnica. No espaço externo anexo da nova sede houve pavimentação com paralelepípedos nas áreas de estacionamento frontal da Farmácia e em amplo estacionamento anexo à portaria do Jockey Club, o que propicia aos nossos clientes e associados uma facilidade e segurança ao se deslocar até nossa sede.

Com a finalidade de melhor atender a seus clientes, não só associados, mas também ao público em geral, a Farmácia Veterinária da ACPCCP conta com completo estoque de medicamentos, direcionada primeiramente para equinos, mas recentemente dirigida também para o segmento Pet, proporcionando assim um atendimento mais amplo à sua clientela.
Implantou-se recentemente um novo “layout” externo e interno da Farmácia veterinária, promovendo assim uma melhor divulgação e propiciando a seus associados e clientes em geral um melhor atendimento e conforto.





<br>
<br>
<br>
    <h3>PIONEIROS</h3>

<div class="ttt">
<p>
    Pesquisa realizada pelo criador DIMAS MEHL ANDRUSKO constatou-se que os pioneiros da criação do Puro Sangue Inglês no Paraná foram os seguintes empresários:
1885 – CARLOS WEIGERT ;1887 – FERNANDO SCHNEIDER (Coudelaria Paraná);1888 – ANTONIO REIS DOS SANTOS FILHO;1889 – FOWLER & TODD (Coudelaria Bacacheri);1902 – JOAQUIM ANTONIO AZEVEDO;1910 – CARLOS DIETZSCH (Haras Vista Alegre) e 1912 – ABRAHAM GLASER.

</p>

</div>
<br>
<br>
<br>

    <h3>O INICIO</h3>
<div class="ttt">
<p>
Com a expansão desta atividade e os excelentes resultados alcançados no turfe  local e nacional, os criadores entenderam, ser necessária a implantação de uma instituição que defendesse os interesses da categoria e promovesse a atividade. Assim sendo ,em meados da década de 60, mais precisamente na data de 12 de Agosto de 1960,  liderados pelo Sr. Luiz  Carlos Antônio Pereira de Leão(Haras Primavera), que viria a ser o primeiro dirigente de fato da entidade, reuniram-se e promoveram a instalação oficial da Associação de Criadores de Cavalos de Corrida do Paraná, tendo então como sócios fundadores os senhores: Alexandre Aracema, Alô Ticoulat Guimarães(Haras Paraná Ltda), Antônio Jorge Ribeiro de Camargo(Haras Palmital), Antônio Sossela Filho(Haras Guatupê), Arnaldo Toniolo(Haras Miraldo), Lourival Gomes, Carlos C. Correia de Sá, Dimas Mehl Andrusko(Haras Uberaba), Diniz Perez Polo, Farid Surugi(Haras Paraná Ltda), Heliodoro Antonio de Oliveira Duboc(Médico Veterinário), Herley Mehl, Hermínio Brunatto(Haras Belmont), João Soares da Costa Júnior, Júlio Mehl, Lauro Guimarães Osternack, Luiz Abraão maia, Luiz Gurgel do Amaral Valente(Haras Valente), Manoel Mehl, Miguel Elias Nicolau(Haras Santa Marieta), Ney Carlos Forbeck de Castro(Haras Monte Carlo), Nery Malucelli, Orlando Osternack, Paulo Afonso Alves de Camargo(Haras São Joaquim), Pedro Alípio Alves de Camargo(Haras Preto e Ouro), Reny Malucelli, Rubens Amazonas Lima, Theophilo de Oliveira e Souza, Vicente Malucelli, Wenceslau Glaser Netto e Wilson Geraldo Velozo.
</p>

</div>
<br>
<br>
<br>

    <h3>FUSÃO</h3>
<div class="ttt">
<p>
Em virtude do aumento da atividade criacional e turfística no Jockey Club do Paraná, o mais antigo do Brasil, fundado em 02 de dezembro de 1873,verificou-se a necessidade de uma entidade que representasse também os proprietários de cavalos de corrida em nosso estado e assim proprietários reuniram-se e capitaneados pelo Sr. Ubaldo Siqueira ,  surgiu a Associação de Proprietários de Cavalos de Corrida, então presidida pelo próprio Sr. Ubaldo Siqueira, com interesses paralelos ao da Associação de Criadores.

    <p>
        Pesquisa realizada pelo criador DIMAS MEHL ANDRUSKO constatou-se que os pioneiros da criação do Puro Sangue Inglês no Paraná foram os seguintes empresários:
1885 – CARLOS WEIGERT ;1887 – FERNANDO SCHNEIDER (Coudelaria Paraná);1888 – ANTONIO REIS DOS SANTOS FILHO;1889 – FOWLER & TODD (Coudelaria Bacacheri);1902 – JOAQUIM ANTONIO AZEVEDO;1910 – CARLOS DIETZSCH (Haras Vista Alegre) e 1912 – ABRAHAM GLASER.

<br>
<br>
<br>
    <h3>O INICIO</h3>
    <p>
        Com a expansão desta atividade e os excelentes resultados alcançados no turfe  local e nacional, os criadores entenderam, ser necessária a implantação de uma instituição que defendesse os interesses da categoria e promovesse a atividade. Assim sendo ,em meados da década de 60, mais precisamente na data de 12 de Agosto de 1960,  liderados pelo Sr. Luiz  Carlos Antônio Pereira de Leão(Haras Primavera), que viria a ser o primeiro dirigente de fato da entidade, reuniram-se e promoveram a instalação oficial da Associação de Criadores de Cavalos de Corrida do Paraná, tendo então como sócios fundadores os senhores: Alexandre Aracema, Alô Ticoulat Guimarães(Haras Paraná Ltda), Antônio Jorge Ribeiro de Camargo(Haras Palmital), Antônio Sossela Filho(Haras Guatupê), Arnaldo Toniolo(Haras Miraldo), Lourival Gomes, Carlos C. Correia de Sá, Dimas Mehl Andrusko(Haras Uberaba), Diniz Perez Polo, Farid Surugi(Haras Paraná Ltda), Heliodoro Antonio de Oliveira Duboc(Médico Veterinário), Herley Mehl, Hermínio Brunatto(Haras Belmont), João Soares da Costa Júnior, Júlio Mehl, Lauro Guimarães Osternack, Luiz Abraão maia, Luiz Gurgel do Amaral Valente(Haras Valente), Manoel Mehl, Miguel Elias Nicolau(Haras Santa Marieta), Ney Carlos Forbeck de Castro(Haras Monte Carlo), Nery Malucelli, Orlando Osternack, Paulo Afonso Alves de Camargo(Haras São Joaquim), Pedro Alípio Alves de Camargo(Haras Preto e Ouro), Reny Malucelli, Rubens Amazonas Lima, Theophilo de Oliveira e Souza, Vicente Malucelli, Wenceslau Glaser Netto e Wilson Geraldo Velozo.
    </p>

<br>
<br>
<br>
    <h3>FUSÃO</h3>
    <p>
    Em virtude do aumento da atividade criacional e turfística no Jockey Club do Paraná, o mais antigo do Brasil, fundado em 02 de dezembro de 1873,verificou-se a necessidade de uma entidade que representasse também os proprietários de cavalos de corrida em nosso estado e assim proprietários reuniram-se e capitaneados pelo Sr. Ubaldo Siqueira ,  surgiu a Associação de Proprietários de Cavalos de Corrida, então presidida pelo próprio Sr. Ubaldo Siqueira, com interesses paralelos ao da Associação de Criadores.

Com o intuito de evitar rivalidades e para aglutinar esforços, sob a mediação do Dr. Heliodoro Antônio de Oliveira Duboc, conseguiu-se fundir as duas associações, dando origem, então a atual ASSOCIAÇÃO DOS CRIADORES E PROPRIETÁRIOS DE CAVALOS DE CORRIDA DO PARANÁ (ACPCCP).
Na reforma estatutária ocorrida em 1983, na gestão de Max Rosenmann (Haras Primavera), foram incluídos na condição de sócios Fundadores/Beneméritos, os senhores: Alceu Abagge; Alcides Coltri (Haras Tamandaré); Arnaldo Alves de Camargo Filho (Haras Alforria); Fernando Macedo Guimarães (Haras Gralha Azul); Jael Bergamaschi Barros (Haras J.B.Barros); João Pedro Alcântara (Haras Mauá); José Antônio Zattar (Stud Hanna); Max Rosenmann (Haras Primavera); Pedro Luiz Nicolau (Haras Gralha Azul); Reinold Helmunth Guillich, Rubens Grahl (Haras Tamandaré); Sylvio Bertoli (Haras Santarém) e William Mussi(Haras Rio Verde).
Posteriormente, por indicação do Conselho Diretor e  com a aprovação do Conselho Deliberativo, alcançaram esta condição também os Srs. Homero Pinhatari Oliva (Haras H. Oliva), Lineo Ristow (Haras Nice) e Ubaldo Siqueira (Haras Ronda Grande).


</p>

</div>
=======
    
    </p>


<br>
<br>
<br>


    <h3>1º CONSELHO DIRETOR</h3>
    <div style="float: left;">
        <img width="65%" src="/img/carinha.jpg" >
        
    </div>

    
<p>
Presidente: Luiz Gurgel do Amaral Valente (Haras Valente)<br>

Primeiro Vice-Presidente: Pedro Afonso Alves de Camargo (Haras São Joaquim).<br>
Segundo Vice-Presidente: Farid Surugi (Haras Paraná Ltda).<br>
Secretário Geral: Luiz Carlos Antônio Pereira de Leão (Haras Primavera)<br>
Diretor Técnico: Dr. Heliodoro Antônio de Oliveira Duboc (Médico Veterinário)<br>
Conselho Consultivo e Fiscal: Alexandre Aracema; Alô Ticoulat Guimarães (Haras Paraná); Antônio Jorge Ribeiro de Camargo (Haras Palmital); Antonio Sossela Filho (Haras Guatupê); Arnaldo Toniolo (Haras Miraldo); Hermínio Brunatto (Haras Belmont); Pedro Alípio Alves de Camargo (Haras Preto e Ouro).
<br>


</p>


<br>
<br>
<br>
    <h3>1º CONSELHO DIRETOR</h3>
    <div style="float:left;">
    <img  src="/img/carinha.jpg" >
    </div>

    
    <p style="margin-left: 12%;">
        
    Presidente: Luiz Gurgel do Amaral Valente (Haras Valente)<br>
    Primeiro Vice-Presidente: Pedro Afonso Alves de Camargo (Haras São Joaquim).<br>
    Segundo Vice-Presidente: Farid Surugi (Haras Paraná Ltda).<br>
    Secretário Geral: Luiz Carlos Antônio Pereira de Leão (Haras Primavera)<br>
    Diretor Técnico: Dr. Heliodoro Antônio de Oliveira Duboc (Médico Veterinário)<br>
    Conselho Consultivo e Fiscal:<br>
    Alexandre Aracema; Alô Ticoulat Guimarães (Haras Paraná); Antônio Jorge Ribeiro de Camargo (Haras Palmital); Antonio Sossela Filho (Haras Guatupê); Arnaldo Toniolo (Haras Miraldo); Hermínio Brunatto (Haras Belmont); Pedro Alípio Alves de Camargo (Haras Preto e Ouro).


    
    </p>


<br>
<br>
<br>

    <h3>PRIMEIRA SEDE</h3>
<div class="ttt">
<p>
Após a sua fundação a ACPCCP no início de suas atividades no Hipódromo do Tarumã, foi instalada juntamente com uma pequena farmácia veterinária sob a responsabilidade do Dr. Heliodoro de Oliveira Duboc, junto as dependências do antigo Posto de Monta do Jockey Club do Paraná, onde atualmente existe o Cemitério Vertical (fundos do Jockey Club do Paraná). 



</p>

</div>

        <h3>PRIMEIRA SEDE</h3>
    <p>
Após a sua fundação a ACPCCP no início de suas atividades no Hipódromo do Tarumã, foi instalada juntamente com uma pequena farmácia veterinária sob a responsabilidade do Dr. Heliodoro de Oliveira Duboc, junto as dependências do antigo Posto de Monta do Jockey Club do Paraná, onde atualmente existe o Cemitério Vertical (fundos do Jockey Club do Paraná). 


    </p>


<br>
<br>
<br>


   <h3>SEDE NA ENTRADA DA VILA HÍPICA</h3>
        <div >
        <img width="40%" style="float: right" src="/img/sede.jpg" >
        
    </div>
<div class="ttt" style="margin-right: 45%;">
<p>
Posteriormente em face ao incremento da sua atuação a ACPCCP mudou-se para a entrada da Vila Hípica nas dependências do Hipódromo do Tarumã, utilizando-se em regime de comodato com o Jockey Club do Paraná, de instalações já ali existentes.  Nas sucessivas gestões de presidentes que ocorreram, suas dependências foram sendo adequadas para melhor proporcionarem atendimento a criadores e proprietários, sendo inicialmente reimplantada a farmácia veterinária da ACPCCP neste novo local. 
Na gestão do criador William Mussi o depósito de rações já existente foi remodelado e passou sob a responsabilidade particular, continuando a ser gerenciado pela ACPCCP conjuntamente com o atendimento da farmácia veterinária. Sentindo a necessidade de proporcionar ao associado um local de lazer, Max Rosenmann em sua gestão construiu anexo à farmácia um amplo salão de festas com churrasqueira.


</p>

</div>

        <h3>SEDE NA ENTRADA DA VILA HÍPICA</h3>
    <div >
            <img style="width:60%;" src="/img/sedevila.png" >
    </div>
<br>

    <p>
Posteriormente em face ao incremento da sua atuação a ACPCCP mudou-se para a entrada da Vila Hípica nas dependências do Hipódromo do Tarumã, utilizando-se em regime de comodato com o Jockey Club do Paraná, de instalações já ali existentes.  Nas sucessivas gestões de presidentes que ocorreram, suas dependências foram sendo adequadas para melhor proporcionarem atendimento a criadores e proprietários, sendo inicialmente reimplantada a farmácia veterinária da ACPCCP neste novo local. 
Na gestão do criador William Mussi o depósito de rações já existente foi remodelado e passou sob a responsabilidade particular, continuando a ser gerenciado pela ACPCCP conjuntamente com o atendimento da farmácia veterinária. Sentindo a necessidade de proporcionar ao associado um local de lazer, Max Rosenmann em sua gestão construiu anexo à farmácia um amplo salão de festas com churrasqueira.

    </p>


<br>
<br>
<br>

  <h3>LEILÕES</h3>
<div class="ttt">
<p>
Com o aumento da oferta de produtos paranaenses no mercado, resultado do progresso da criação em nosso estado, iniciaram-se a realização de leilões, os quais ocorriam até então nos próprios haras vendedores, outros foram realizados no interior da arquibancada social do Hipódromo do Tarumã ou ainda em circos de lona montados temporariamente para estes eventos inclusive baias móveis para os animais a serem licitados. 
</p>

</div>

        <h3>NOVO TATTERSALL</h3>
    <p>
Observando estas dificuldades e o desconforto destes eventos, principalmente para os cavalos, Cezar Evangelista de Oliveira Franco resolveu com o apoio de alguns de seus membros de diretoria construir o Tattersall da ACPCCP; recinto especifico para realização de leilões. Assim para citar alguns colaboradores relacionamos; Gilberto Schille(Haras Três Lagos) doou o madeiramento; Cezar Franco e Claudio Kerber (Haras Fortaleza) as ferragens, Luiz Carlos Moletta as telhas, e o novo Tattersall da ACPCCP foi inaugurado em 1984 e os leilões passaram a se suceder com maior conforto e frequência para criadores, proprietários e, é claro, para os cavalos; melhorando inclusive o comercio da nossa atividade criacional.
    </p>


<br>
<br>
<br>


  <h3>NOVO TATTERSALL </h3>
<div class="ttt">
<p>
Observando estas dificuldades e o desconforto destes eventos, principalmente para os cavalos, Cezar Evangelista de Oliveira Franco resolveu com o apoio de alguns de seus membros de diretoria construir o Tattersall da ACPCCP; recinto especifico para realização de leilões. Assim para citar alguns colaboradores relacionamos; Gilberto Schille(Haras Três Lagos) doou o madeiramento; Cezar Franco e Claudio Kerber (Haras Fortaleza) as ferragens, Luiz Carlos Moletta as telhas, e o novo Tattersall da ACPCCP foi inaugurado em 1984 e os leilões passaram a se suceder com maior conforto e frequência para criadores, proprietários e, é claro, para os cavalos; melhorando inclusive o comercio da nossa atividade criacional.
</p>

</div>

        <h3>REFORMAS</h3>
    <p>
As diretorias que se sucederam na administração da ACPCCP realizaram ao longo dos anos diversas melhorias e modernização em toda a infraestrutura da ACPCCP, não só na parte material como também na funcional objetivando sempre proporcionar aos seus associados melhor atendimento e incrementar a divulgação e o crescimento da criação do cavalo de corrida em nosso Estado. Na gestão de Newton Sergio R. Grein, além de ampla reforma dos prédios do complexo ACPCCP , como telhados e outras estruturas, implantou a Biblioteca da ACPCCP, cujo acervo foi formado através de doações de criadores e médicos veterinários , bem como revistas especializadas provenientes de assinaturas efetuadas na época.
    </p>


<br>
<br>
<br>




  <h3>REFORMAS </h3>

     <div >
        <img width="40%" style="float: left"src="/img/reforma.jpg" >
        
    </div>
<div class="ttt" style="margin-left: 43%;" >
<p>
Na sequência desta ampliação do conglomerado da ACPCCP, a casa sede já existente foi então reformada para a realização de reuniões de diretoria. Com o aumento das atividades do depósito de rações, foi ainda na gestão de Cezar Franco adquiridos 2 silos para estocagem de aveia. Estes foram montados na gestão subsequente de José Antônio Garcez Castellano (Haras Garcez Castellano) que também deu sequência às melhorias da ACPCCP, como aquisição de caminhão especifico para transporte de equinos e entrega de produtos aos haras associados. Efetuou melhoria do Paddock do novo Tattersall com a colocação de portas nas suas baias e fez a aquisição de novo mobiliário para o Tattersall e salão da churrasqueira. 
</p>

</div>
<br>
<br>
<br>

        <h3>INFRAESTRUTURA</h3>
        <div style="float:left;">
            <img style="width: 40%;" class="imgSobre" src="/img/infraestrutura.jpg" >
            <br>
                 <p>
Observando estas dificuldades e o desconforto destes eventos, principalmente para os cavalos, Cezar Evangelista de Oliveira Franco resolveu com o apoio de alguns de seus membros de diretoria construir o Tattersall da ACPCCP; recinto especifico para realização de leilões. Assim para citar alguns colaboradores relacionamos; Gilberto Schille(Haras Três Lagos) doou o madeiramento; Cezar Franco e Claudio Kerber (Haras Fortaleza) as ferragens, Luiz Carlos Moletta as telhas, e o novo Tattersall da ACPCCP foi inaugurado em 1984 e os leilões passaram a se suceder com maior conforto e frequência para criadores, proprietários e, é claro, para os cavalos; melhorando inclusive o comercio da nossa atividade criacional.

    </p>
    



<br>
<br>
<br>



</div

<br>
<br>
<br>




  <h3>REFORMAS </h3>
    <div >
        <img width="40%" style="float: right" src="/img/infra.jpg" >
        
    </div>

<div class="ttt" style="margin-right: 43%;" >
<p>
Na sequência desta ampliação do conglomerado da ACPCCP, a casa sede já existente foi então reformada para a realização de reuniões de diretoria. Com o aumento das atividades do depósito de rações, foi ainda na gestão de Cezar Franco adquiridos 2 silos para estocagem de aveia. Estes foram montados na gestão subsequente de José Antônio Garcez Castellano (Haras Garcez Castellano) que também deu sequência às melhorias da ACPCCP, como aquisição de caminhão especifico para transporte de equinos e entrega de produtos aos haras associados. Efetuou melhoria do Paddock do novo Tattersall com a colocação de portas nas suas baias e fez a aquisição de novo mobiliário para o Tattersall e salão da churrasqueira. 
</p>

</div>

        <h3>REPRODUTORES</h3>
        
            <br>
                 <p>
Como atividade de fomento da raça, a ACPCCP sempre atuou de uma forma ou outra na importação de garanhões dos Estados Unidos, Argentina, e Europa, colocando-os à disposição de todos os criadores não só do Paraná como de todo o Brasil. Podemos citar entre alguns reprodutores tiveram o apoio da ACPCCP em sua vinda ao nosso criatório: VIVAT REX, SILLAGE, TOM EDDY, GREY THUNDER, LOST DUTCHAMAN, FILAGO, FAHIM, SUNNY’S HALO, GIANT GENTLEMAN, MACHO UNO, SHIROCCO, PUBLIC SPEAKER, COURTIER, SALTO, HAT TRICK e GOLDEO.


    </p>
   




<br>
<br>
<br>


  <h3>REPRODUTORES </h3>

<div class="ttt" >
<p>
Como atividade de fomento da raça, a ACPCCP sempre atuou de uma forma ou outra na importação de garanhões dos Estados Unidos, Argentina, e Europa, colocando-os à disposição de todos os criadores não só do Paraná como de todo o Brasil. Podemos citar entre alguns reprodutores tiveram o apoio da ACPCCP em sua vinda ao nosso criatório: VIVAT REX, SILLAGE, TOM EDDY, GREY THUNDER, LOST DUTCHAMAN, FILAGO, FAHIM, SUNNY’S HALO, GIANT GENTLEMAN, MACHO UNO, SHIROCCO, PUBLIC SPEAKER, COURTIER, SALTO, HAT TRICK e GOLDEO.
</p>

</div>


        <h3>NOVO LOCAL</h3>
        
            <br>
                 <p>
Em face da construção do Shopping Plaza Jockey nas dependências do hipódromo, em 2016 a ACPCCP teve sua sede desapropriada e em comum acordo novamente mudou-se, agora para um moderno prédio localizado ao lado da portaria dos fundos do Jockey Club, com vistas para a rua Konrad Adenauer.
Na gestão de Alcibíades de Almeida Faria Neto, o novo espaço da ACPCCP foi adequado às suas atividades, com a reestruturação da farmácia veterinária, depósito de medicamentos, salas de reuniões, e eventos, biblioteca e gerência técnica.
No espaço externo foi pavimentado com paralelepípedos o estacionamento frontal da Farmácia e  amplo estacionamento anexo à portaria do Jockey Club.

Recentemente em sua atual gestão, presidida por  José Caetano Ferreira Neto, foi  Inaugurado novo espaço para confraternização na sede da ACPCCP e atualmente, associados e não associados da ACPCCP, passam a ter um espaço para realizar reuniões de confraternização com todo o conformo necessário, inclusive com estacionamento seguro e privativo. O local com aproximadamente 40m² de área coberta e outros 40 de pátio, abrange churrasqueira, mesas, cadeiras e um banheiro na área externa. Interessados deverão entrar em contato com a secretaria da entidade para agendamento e pagamento de taxa de serviço. Ainda nesta gestão implantou-se um novo “Lay Out” externo e interno da Farmácia veterinária, promovendo assim uma melhor divulgação e propiciando a seus associados e clientes um melhor atendimento e conforto. Houve também, no anexo à gerencia administrativa a reforma de espaço para sala privativa da diretoria atuante.



    </p>
   





<br>
<br>
<br>


  <h3>NOVO LOCAL </h3>

    <div >
        <img width="40%" style="float: right; margin-left:5%" src="/img/acphist.jpg">
        
    </div>

<div  >
<p>

        <h3>NOVO LOCAL</h3>
        
            <br>
                 <p>

Em face da construção do Shopping Plaza Jockey nas dependências do hipódromo, em 2016 a ACPCCP teve sua sede desapropriada e em comum acordo novamente mudou-se, agora para um moderno prédio localizado ao lado da portaria dos fundos do Jockey Club, com vistas para a rua Konrad Adenauer.
Na gestão de Alcibíades de Almeida Faria Neto, o novo espaço da ACPCCP foi adequado às suas atividades, com a reestruturação da farmácia veterinária, depósito de medicamentos, salas de reuniões, e eventos, biblioteca e gerência técnica.
No espaço externo foi pavimentado com paralelepípedos o estacionamento frontal da Farmácia e  amplo estacionamento anexo à portaria do Jockey Club.

Recentemente em sua atual gestão, presidida por  José Caetano Ferreira Neto, foi  Inaugurado novo espaço para confraternização na sede da ACPCCP e atualmente, associados e não associados da ACPCCP, passam a ter um espaço para realizar reuniões de confraternização com todo o conformo necessário, inclusive com estacionamento seguro e privativo. O local com aproximadamente 40m² de área coberta e outros 40 de pátio, abrange churrasqueira, mesas, cadeiras e um banheiro na área externa. Interessados deverão entrar em contato com a secretaria da entidade para agendamento e pagamento de taxa de serviço. Ainda nesta gestão implantou-se um novo “Lay Out” externo e interno da Farmácia veterinária, promovendo assim uma melhor divulgação e propiciando a seus associados e clientes um melhor atendimento e conforto. Houve também, no anexo à gerencia administrativa a reforma de espaço para sala privativa da diretoria atuante.



</p>

</div>

    </p>
    





<br>
<br>
<br>

  <h3>PRESIDENTES DA ACPCCP </h3>

    <div >
        <img width="60%" style="float: right; margin-left:5%" src="/img/acpnova.jpg">
        
    </div>
    
<div  >
<p>
Foram seus presidentes até a presente data, os senhores: Luiz Gurgel do Amaral Valente (Haras Valente); Luiz Carlos Pereira de Leão (Haras Primavera), Alô Ticoulat Guimarães (Haras Paraná), Antônio Jorge Ribeiro de Camargo (Haras Palmital); Arnaldo Toniolo (Haras Miraldo); Sylvio Bertoli (Haras Santarém); William Mussi (Haras Rio Verde); Max Rosenmann (Haras Primavera); Cezar Evangelista de Oliveira Franco (Haras Fortaleza); Newton Sergio Ribeiro Grein (Haras Saint Simon); Jael Bergamaschi Barros (Haras J.B.Barros); Edison José Mauad (Haras Xará); Eraldo Palmerini (Haras Palmerini); Roberto Belina (Stud Yellow River); José Antônio Garcêz Castellano (Haras Castellano); Alcebíades de Almeida Faria Neto (Stud Zecão), José Caetano Ferreira Neto (Haras M’Boicy) atual presidente, já no segundo mandato consecutivo.

Situada às margens da rua Konrad Adenauer nº 911, anexa a portaria dos fundos da vila hípica do Jockey Club do Paraná e em frente ao prédio do Cemitério Vertical de Curitiba, a Farmácia Veterinária da ACPCCP , com  destaque para atendimento ao segmento de medicamentos para equinos ; está também ampliando suas atividades na área Pet; e está apta ao atendimento de todos os seus clientes, associados ou não; sempre proporcionando melhores preços e ofertas nas seguidas promoções de seus fornecedores. Maiores informações poderão ser obtidas pelos telefones: (41) 3266 5093 32667849 e       987063616.



</p>

</div>

       <h3>PRESIDENTES DA ACPCCP</h3>

            <br>

Foram seus presidentes até a presente data, os senhores: Luiz Gurgel do Amaral Valente (Haras Valente); Luiz Carlos Pereira de Leão (Haras Primavera), Alô Ticoulat Guimarães (Haras Paraná), Antônio Jorge Ribeiro de Camargo (Haras Palmital); Arnaldo Toniolo (Haras Miraldo); Sylvio Bertoli (Haras Santarém); William Mussi (Haras Rio Verde); Max Rosenmann (Haras Primavera); Cezar Evangelista de Oliveira Franco (Haras Fortaleza); Newton Sergio Ribeiro Grein (Haras Saint Simon); Jael Bergamaschi Barros (Haras J.B.Barros); Edison José Mauad (Haras Xará); Eraldo Palmerini (Haras Palmerini); Roberto Belina (Stud Yellow River); José Antônio Garcêz Castellano (Haras Castellano); Alcebíades de Almeida Faria Neto (Stud Zecão), José Caetano Ferreira Neto (Haras M’Boicy) atual presidente, já no segundo mandato consecutivo.
<br>
<br>
<br>
    <div>
          <img style="width:28%; float:left" src="/img/acp.png" >
                 <p style="margin-left: 30%;">
Situada às margens da rua Konrad Adenauer nº 911, anexa a portaria dos fundos da vila hípica do Jockey Club do Paraná e em frente ao prédio do Cemitério Vertical de Curitiba, a Farmácia Veterinária da ACPCCP , com  destaque para atendimento ao segmento de medicamentos para equinos ; está também ampliando suas atividades na área Pet; e está apta ao atendimento de todos os seus clientes, associados ou não; sempre proporcionando melhores preços e ofertas nas seguidas promoções de seus fornecedores. Maiores informações poderão ser obtidas pelos telefones: (41) 3266 5093 32667849 e       987063616.

    </p>


</div>


<br>
<br>
<br>




 </div>




</div>


    </div>









</html>